/**/
div.c7 {
    page-break-before: always
    }
p.c6 {
    text-align: center
    }
p.c5 {
    font-style: italic
    }
#book-content h2.c4 {
    font-style: italic
    }
div.c3 {
    font-variant: small-caps
    }
div.c2 {
    font-style: italic
    }
div.c1 {
    font-size: 210%
    }
/**/